*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

h2{
  margin: auto;
}

td{
  border: 2px solid black;
  width: 40px;
}
table{
  border: 2px solid black;
  border-collapse: collapse;
}

.all{
  width: 550px;
  margin: auto;
  align-items: center;
  margin-top: 10em;
  background-color: rgb(204,231,208);
}